.booking-spot-link {
    cursor: pointer;
}

.no-bookings {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 180px;
    height: 30px;
    margin: 0 4px;
    background-color: rgb(110, 108, 108);
    box-shadow: 2px 2px 2px black;
    color: white
}

.booking-icon {
    cursor: pointer;
}
