.manage-buttons {
    margin: 0 auto;
}

button {
    width: 64px;
    height: 30px;
    margin: 0 4px;
    background-color: rgb(110, 108, 108);
    color: white
}

button:hover {
    background-color: rgb(95, 92, 92);
}

.update-button {
    box-shadow: 2px 2px 2px black;
}
