.manage-buttons {
    margin: 0 auto;
}

button {
    width: 56px;
    height: 30px;
    margin: 0 4px;
    background-color: rgb(110, 108, 108);
    color: white
}

button:hover {
    background-color: rgb(77, 74, 74);
}

.update-button {
    width: 140px;
    box-shadow: 2px 2px 2px black;
}

.update-button:active {
    box-shadow: 1px 1px 1px black;
    border: none;
}

.manage-spots-create {
    width: 140px;
    box-shadow: 2px 2px 2px black;
}

.manage-spots-create:active {
    width: 140px;
    box-shadow: 1px 1px 1px black;
    border: none;
}
