.manage-buttons {
    margin: 0 auto;
}

button {
    background-color: white;
    margin: 10px 10px;
    width: 120px;
    box-shadow: 1px 1px 2px grey;
}

button:hover {
    background-color: rgb(219, 219, 219);
    color: black;
}
