.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px 80px;
    /* border: 1px solid red; */
}

.error-container {
    height: 14px;
}

.error-container p {
    height: 14px;
    color: red;
    margin-bottom: 10px;
}

p {
    margin: 1px;
    padding: 1px;
}

input {
    border: 2px solid rgb(100, 132, 192);
}

textarea {
    border: 2px solid rgb(100, 132, 192);
}

.submit-signup {
    margin-top: 8px;
    width: 100px;
    padding: 1px;
    background-color: rgb(100, 132, 192);
    box-shadow: 3px 3px 3px black;
    border: none;
}

.submit-signup:active {
    box-shadow: 1px 1px 1px black;
}

.submit-signup:disabled {
    background-color: rgb(190, 188, 188);
}
.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px 80px;
    /* border: 1px solid red; */
}

.error-container {
    height: 14px;
}

.error-container p {
    height: 14px;
    color: red;
    margin-bottom: 10px;
}

p {
    margin: 1px;
    padding: 1px;
}

input {
    border: 2px solid rgb(100, 132, 192);
}

textarea {
    border: 2px solid rgb(100, 132, 192);
}

.submit-signup {
    margin-top: 8px;
    width: 100px;
    padding: 1px;
    background-color: rgb(100, 132, 192);
    box-shadow: 3px 3px 3px black;
    border: none;
}

.submit-signup {
    background-color: rgb(71, 107, 175);
}

.submit-signup:active {
    box-shadow: 1px 1px 1px black;
}

.submit-signup:disabled {
    background-color: rgb(190, 188, 188);
}
