.modal-buttons {
    margin: 20px 0 0 0;
    border: 1px 1px 1px black;
    box-shadow: 2px 2px 2px grey;
    background-color: transparent;
    width: 100px;
}

.delete-button {
   background-color: rgb(196, 74, 61);
    color: white;
}

.delete-button:hover {
    background-color: rgb(182, 58, 45);
    color: white;
}
