.modal-buttons {
    margin: 20px 0 0 0;
    border: 1px 1px 1px black;
    box-shadow: 2px 2px 2px black;
    background-color: whitesmoke;
    color: black;
    width: 100px;
}

.delete-button {
    background-color: rgb(196, 74, 61);
    box-shadow: 2px 2px 2px black;
    color: white;
}

.delete-review-button {
    background-color: rgb(196, 74, 61);
    box-shadow: 2px 2px 2px black;
    width: 100px;
    color: white;
}

.delete-button:hover {
    background-color: rgb(182, 58, 45);
    color: white;
}
