.modal-buttons {
    margin: 20px 0 0 0;
    border: 1px 1px 1px black;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(100, 132, 192);
    color: white;
    width: 100px;
}

.modal-buttons:hover {
    background-color: rgb(71, 107, 175);
    color: white;
}

.modal-buttons:active {
    box-shadow: 1px 1px 1px black;
    border: none;
}

.delete-button {
    background-color: rgb(201, 51, 34);
    box-shadow: 2px 2px 2px black;
    color: white;
}

.delete-review-button {
    background-color: rgb(160, 17, 1);
    box-shadow: 2px 2px 2px black;
    width: 100px;
    color: white;
}

.delete-button:hover {
    background-color: rgb(182, 58, 45);
    color: white;
}

.delete-button:active {
    box-shadow: 1px 1px 1px black;
    border: none;
}
