.booking-submit {
    width: 180px;
    /* backgroun?d-color: blue; */
}

.booking-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    /* border: 1px solid red; */
    gap: 20px;
}

.booking-h1 {
    /* margin: 0; */
    padding: 0;
}

.booking-complete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 92px;
    color: green;
}
