/* TODO Add site wide styles */
* {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #f5f5f5;
    align-self: center;
    border-radius: 8px;
    padding: 4px;
}

button:hover {
    cursor: pointer;
}
