/* TODO Add site wide styles */
* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(247, 246, 246);
}

button {
    background-color: #f5f5f5;
    align-self: center;
    padding: 4px;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    background-color: rgb(186, 183, 183);
}

button:disabled:hover {
    background-color: rgb(186, 183, 183);
}
