.new-rating-stars {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.error-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.error-container p {
    height: 50px;
    color: red;
}

.textarea {
    height: 100px;
}

.review-submit {
    width: 180px;
    box-shadow: 2px 2px 2px black;
}

.review-submit:active {
    width: 180px;
    box-shadow: 1px 1px 1px black;
    border: none;
}
