.page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 0px; */
    padding-top: 30px;
    margin: 0 auto;
}

p {
    color: black;
}

/* .tool-tip {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(238, 234, 234, 0.7);
    width: fit-content;
    padding: 4px;
    border-radius: 10px 0;
} */


.clickable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    /* border: 1px solid red; */
}

/* .spot-card:hover .tool-tip {
    display: flex;
    align-self: center;
} */


.spot-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 210px;
    margin: 15px auto;
    padding: 14px;
    border-radius: 16px;
    /* box-shadow: 2px 2px 8px 3px grey; */
    cursor: pointer;
    transition: box-shadow 600ms ease-out;
}

.spot-card:hover {
    box-shadow: 2px 2px 6px 2px grey;
}

.previewImageLanding {
    width: 180px;
    height: 120px;
    border-radius: 20px;
}

.name-rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.avgRating {
    font-size: 18px;
}

.fa-star {
    font-size: 14px;
}

.price {
    display: flex;
    font-size: 18px;
}



@media screen and (min-width: 1150px) {
    .page {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1400px) {
    .page {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 990px) {
    .page {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 920px) {
    .page {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .page {
      grid-template-columns: 1fr;
    }
  }
