.page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 30px;
    margin: 0 auto;
}

p {
    color: black;
}

.clickable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.spot-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 210px;
    margin: 15px auto;
    padding: 22px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 400ms linear;
}

.spot-card:hover {
    box-shadow: 2px 2px 6px 2px rgb(204, 202, 202);
}

.previewImageLanding {
    align-self: center;
    width: 199px;
    height: 140px;
    border-radius: 10px;
}

.name-rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.avgRating {
    font-size: 18px;
}

.fa-star {
    font-size: 14px;
}

.price {
    display: flex;
    font-size: 18px;
}

/* @media screen and (min-width: 1150px) {
    .page {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1400px) {
    .page {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
} */

@media screen and (max-width: 930px) {
    .page {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .page {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 460px) {
    .page {
      grid-template-columns: 1fr;
    }
  }
