.nav-ul {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px;
    border: 3px solid black;
}

.profile-dropdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    border: 3px solid black;
    /* border: 3px solid black; */
}

.profile-button {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 24px;
    height: 40px;
    width: 80px;
}

li {
    list-style: none;
}

.logout-button {
    margin: 0;
}

.hidden {
    display: none;
}
